@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sth we need to do</title>
</head>
<body>
    <div>
        <h3>info</h3>
        <table>
            <tr>
                <td><p>UserId</p></td>
                <td><p>UserName</p></td>
                <td><p>Password</p></td>
                <td></td>
            </tr>
        </table>
        <input type="button" title="Sign In" value="Sign In" onclick="location.href = '/Home/Sign'" />
    </div>
</body>
</html>