@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign</title>
</head>
<body>
    <div>
        <h3>КЭКЪ</h3>
        <h1>здесь будет регистрация(но это не точно))))0)</h1>
    </div>
</body>
</html>
